<meta charset="utf-8">
<title>{{ page.title }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap" rel="stylesheet">
<link href="/static/reset.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">