body {
    background-color: #fefefe;
    color: #333333;
    display: flex;
    font-family: "Source Serif Pro", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    justify-content: center;
    line-height: 24px;
}

#container {
    margin: 12px;
    max-width: 600px;
    padding-top: 36px;
}

@media handheld, only screen and (max-width: 767px) {
    #container {
        padding-top: 18px;
    }
}

h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 16px;
    margin-top: 16px;
}

h1 {
    font-size: 36px;
    font-weight: 300;
}

h1#nameheader {
    font-size: 72px;
    line-height: 100%;
    margin-bottom: 24px;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 12px;
}

a {
    color: #bd2031;
}

a.highlight {
    display: block;
    font-size: 18px;
    margin-bottom: 16px;
}